.suterProtocol {
  .operationContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    .ant-card {
      background: #1d1c1e;
      border: 1px solid #1d1c1e;
      border-radius: 10px;
      height: 315px;
      width: 500px;
    }
    h1 {
      color: #b9aaff;
      margin-bottom: 0;
      font-family: PingFangSC-Thin, sans-serif;
      font-size: 30px;
      font-weight: bolder;
    }
    p {
      color: rgba(255, 255, 255, 0.5);
      font-family: PingFangSC-Thin, sans-serif;
      font-size: 14px;
    }
  }
}
