.connectWallet {
  .ant-modal-content {
    .ant-modal-close-x {
      color: #b9aaff;
    }
    background: #1d1c1e !important;
    border: 1px solid #b9aaff;
    border-radius: 20px;
    // width: 70%;
    .title {
      h1 {
        color: #b9aaff;
        margin-bottom: 0;
        text-align: center;
        font-family: 'Poppins-ExtraLight';
      }
    }
    .tip {
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
    }
    .metaMaskContainer {
      text-align: center;
    }
    .connectBtnContainer {
      text-align: center;
      margin-top: 20px;
      button.connectWalletBtn {
        border-color: #b9aaff;
        color: #b9aaff;
        background-color: #b9aaff;
        color: #000000;
      }
    }
  }
}
