.register {
  .ant-modal-content {
    background: #1d1c1e !important;
    border: 1px solid #b9aaff;
    border-radius: 20px;
    .ant-modal-close-x {
      color: #b9aaff;
    }
    // width: 70%;
    .title {
      h1 {
        color: #b9aaff;
        text-align: center;
        font-family: PingFangSC-Thin, sans-serif;
        margin-bottom: 0;
      }
    }
    .tip {
      color: #ff578e;
      margin-top: 20px;
      text-align: center;
      font-size: 13px;
    }
    .inputContainer {
      margin-top: 30px;
      margin-bottom: 10px;
      display: flex;
      input {
        background-color: rgba(216, 216, 216, 0.1);
        border: 1px solid rgba(216, 216, 216, 0.5);
        width: 100%;
        border-radius: 5px;
        height: 40px;
        padding-left: 5px;
        color: rgba(255, 255, 255, 0.5);
        outline: none;
      }
      input:focus {
        background: rgba(216, 216, 216, 0.12);
        border: 2px solid #b9aaff;
      }
    }
    .checkboxContainer {
      display: flex;
      margin-top: 30px;
      // input[type="checkbox"]{
      //   border: 1px solid  #b9aaff;
      //   background: #1d1c1e;
      // }
      input[type='checkbox'] {
        cursor: pointer;
        position: relative;
        width: 15px;
        height: 15px;
        font-size: 14px;
      }
      input[type='checkbox']::after {
        position: absolute;
        top: 0;
        background-color: #1d1c1e;
        border: 1px solid #b9aaff;
        color: #b9aaff;
        width: 15px;
        height: 15px;
        display: inline-block;
        visibility: visible;
        padding-left: 0px;
        text-align: center;
        content: ' ';
        border-radius: 3px;
      }
      input[type='checkbox']:checked::after {
        content: '✓';
        font-size: 12px;
        font-weight: bold;
        line-height: 13px;
      }
      p {
        margin-top: -5px;
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .registerBtnContainer {
      text-align: center;
      margin-top: 20px;
      button.registerBtn {
        border-color: #b9aaff;
        color: #b9aaff;
        background-color: #b9aaff;
        color: #000000;
        &:disabled {
          background-color: transparent;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
