.suterProtocol {
  .dashboardContainer {
    margin-top: 25px;
    margin: 25px auto 0 auto;
    max-width: 1140px;

    div.card {
      margin-bottom: 20px;
      position: relative;

      &:hover {
        border: 1px solid #b9aaff;
      }

      color: #fff;
      width: 350px;
      border: 1px solid #1d1c1e;
      background: #1d1c1e;
      padding: 20px 10px;
      border-radius: 15px;
      justify-content: space-between;
      align-items: flex-end;
      height: 120px;

      h2 {
        color: #b9aaff;
        font-family: PingFangSC-Thin, sans-serif;
        font-size: 16px;
      }

      h1 {
        color: #fff;
        font-family: PingFangSC-Thin, sans-serif;
        font-size: 24px;
      }

      .titleContainer {
        display: flex;

        .anticon {
          margin-left: 5px;
          color: #b9aaff !important;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .dashboardContainer {
      max-width: 354px;
      margin: 25px auto 0 auto !important;
      div.card {
        width: 100%;
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 14px;
        }
      }
      div.totalUSDDeposited {
        background-image: linear-gradient(
          to right,
          rgba(60, 37, 107, 0.5),
          rgba(60, 37, 107, 0)
        );
      }
    }
  }
}
