.suterProtocol {
  .form {
    .registerContainer {
      display: flex;
      justify-content: center;
      max-width: 1100px;
      margin: 80px auto 0 auto;

      .left {
        width: 30%;

        font-family: 'Poppins-ExtraLight';

        @media only screen and (max-width: 600px) {
          width: 100%;
          padding: 0 20px;
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #1969ff;
          border-radius: 15px;
          padding: 15px 0px 15px 10px;

          .tright {
            img {
              height: 70px;
            }
          }

          .tleft {
            h1 {
              font-size: 24px;
              font-family: 'Poppins-Regular';
            }

            p {
              font-size: 14px;
              margin-bottom: 0;
              font-family: 'Poppins-Regular';
            }
          }
        }

        h1,
        p,
        .goToLogin {
          color: #1969ff;
        }

        h1 {
          font-size: 48px;
          margin-bottom: 0;
          font-family: 'Poppins-Regular';
        }

        p {
          font-size: 21px;
          font-family: 'Poppins-Regular';
        }

        .registerTipsContainer {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
          margin-top: 20px;
          font-family: 'Poppins-Regular';

          .tips {
            color: #1969ff;
            font-weight: bold;
          }
        }

        p.registerTips {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px;
          color: #ff578e;
          font-family: 'Poppins-Regular';
        }

        p.gasNotEnoughTips {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px;
          color: #ff578e;
          border: 1px solid #ff578e;
          border-radius: 5px;
          padding: 5px 10px;
          font-family: 'Poppins-Regular';
        }

        .goToLogin {
          font-size: 16px;
          margin-top: 5px;
          color: rgba(255, 255, 255, 0.8);
          font-family: 'Poppins-Regular';

          .loginLink {
            color: #1969ff;
            font-weight: bold;
          }
        }

        .btnContainer {
          margin-top: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid#1969FF;

          button {
            border-color: #1969ff;
            background-color: transparent;
            background-image: none;
            color: #1969ff;

            &:hover {
              background-image: linear-gradient(
                to right,
                rgba(185, 170, 255, 1),
                rgba(171, 202, 255, 1)
              );
              color: #000000;
            }
          }

          button[disabled] {
            border-color: rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.3);
            background-color: transparent;
            background-image: none;
          }

          button.PrivateKeyGenerator {
            background-image: linear-gradient(
              to right,
              rgba(185, 170, 255, 1),
              rgba(171, 202, 255, 1)
            );
            color: #000000;
          }

          button.createdByYourself {
            color: #1969ff;

            &:hover {
              color: #000000;
            }
          }
        }

        .privateKeyGeneratorInput {
          .inputContainer {
            margin-top: 40px;
            margin-bottom: 15px;
            position: relative;

            .inputAppend {
              img {
                cursor: pointer;
              }

              position: absolute;
              top: 7px;
              right: 8px;
            }

            input {
              background-color: rgba(216, 216, 216, 0.1);
              border: 1px solid rgba(216, 216, 216, 0.5);
              width: 100%;
              border-radius: 5px;
              height: 40px;
              padding-left: 5px;
              color: rgba(255, 255, 255, 0.5);
              outline: none;
            }

            input:focus {
              background: rgba(216, 216, 216, 0.12);
              border: 2px solid #1969ff;
            }
          }
        }

        .createByYourself {
          p.privateKeyTips {
            color: #ff578e;
            font-size: 13px;
            margin-top: 20px;
            font-family: 'Poppins-Regular';
          }

          .checkboxContainer {
            display: flex;
            margin-top: 30px;

            input[type='checkbox'] {
              cursor: pointer;
              position: relative;
              width: 15px;
              height: 15px;
              font-size: 14px;
              font-family: 'Poppins-Regular';
            }

            input[type='checkbox']::after {
              position: absolute;
              top: 0;
              background-color: #1d1c1e;
              border: 1px solid #1969ff;
              color: #1969ff;
              width: 15px;
              height: 15px;
              display: inline-block;
              visibility: visible;
              padding-left: 0px;
              text-align: center;
              content: ' ';
              border-radius: 3px;
            }

            input[type='checkbox']:checked::after {
              content: '✓';
              font-size: 12px;
              font-weight: bold;
              line-height: 13px;
              font-family: 'Poppins-Regular';
            }

            p {
              font-size: 12px;
              margin-top: -3px;
              margin-left: 10px;
              color: rgba(255, 255, 255, 0.5);
              font-family: 'Poppins-Regular';
            }
          }

          .inputContainer {
            p {
              font-size: 12px;
              padding-bottom: 0;
              font-family: 'Poppins-Regular';
            }

            margin-top: 20px;
            margin-bottom: 15px;
            position: relative;

            .inputAppend {
              img {
                cursor: pointer;
              }

              position: absolute;
              top: 37px;
              right: 8px;
            }

            input {
              background-color: rgba(216, 216, 216, 0.1);
              border: 1px solid rgba(216, 216, 216, 0.5);
              width: 100%;
              border-radius: 5px;
              height: 40px;
              padding-left: 5px;
              color: rgba(255, 255, 255, 0.5);
              outline: none;
            }

            input:focus {
              background: rgba(216, 216, 216, 0.12);
              border: 2px solid #1969ff;
            }

            input.invalidPrivateKey {
              border: 2px solid #ff578e;
            }

            input.invalidConfirmPrivateKey {
              border: 2px solid #ff578e;
            }
          }
        }
      }
    }
  }
}
