@import '../../variables.less';
.suterProtocol {
  .operationContainer {
    .transfer {
      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .titleContainer {
          display: flex;
          .anticon {
            color: @chainColor !important;
          }
        }
        p.myAddress {
          color: @chainColor;
          cursor: pointer;
          position: relative;
          top: 6px;
          font-size: 13px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .inputContainer {
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        // display: flex;
        input {
          background-color: rgba(216, 216, 216, 0.1);
          border: 1px solid rgba(216, 216, 216, 0.5);
          width: 100%;
          border-radius: 5px;
          height: 40px;
          // border-right: 0;
          // border-top-right-radius: 0;
          // border-bottom-right-radius: 0;
          padding-left: 5px;
          color: rgba(255, 255, 255, 0.5);
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type='text'] {
          -moz-appearance: textfield;
          outline: none;
        }
        input:focus {
          background: rgba(216, 216, 216, 0.12);
          border: 2px solid #b9aaff;
        }
        input.insufficientInput {
          border: 2px solid #ff578e;
        }
        .inputAppend {
          position: absolute;
          top: 7px;
          right: 0;
          // border: 1px solid rgba(216, 216, 216, 0.5);
          border-radius: 5px;
          display: flex;
          align-items: center;
          border-left: 0;
          // background-color: rgba(216, 216, 216, 0.1);
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 0 10px;
          .maxBtn {
            border: 1px solid #b9aaff;
            color: #b9aaff;
            border-radius: 5px;
            margin-right: 8px;
            padding: 1px 5px;
            cursor: pointer;
            &:hover {
              background-color: #b9aaff;
              color: #000000;
            }
          }
        }
      }
      .addressInputContainer {
        margin-top: 20px;
        textarea {
          background-color: rgba(216, 216, 216, 0.1);
          border: 1px solid rgba(216, 216, 216, 0.5);
          width: 100%;
          border-radius: 5px;
          height: 40px;
          padding-left: 5px;
          color: rgba(255, 255, 255, 0.5);
          height: 50px;
          outline: none;
        }
        textarea::-ms-input-placeholder {
          text-align: center;
          font-size: 12px;
          height: 50px;
          line-height: 50px;
        }
        textarea::-webkit-input-placeholder {
          text-align: center;
          font-size: 13px;
          height: 50px;
          line-height: 50px;
        }
        textarea:focus {
          background: rgba(216, 216, 216, 0.12);
          border: 2px solid #b9aaff;
        }
        textarea.invalidAddress {
          border: 2px solid #ff578e;
        }
      }
      .confirmContainer {
        margin-top: 20px;
        button {
          border-color: #b9aaff;
          color: rgba(105, 85, 192, 1);
          background-color: transparent;
          background-image: none;
          &:hover {
            background-image: linear-gradient(
              to right,
              rgba(185, 170, 255, 1),
              rgba(171, 202, 255, 1)
            );
            color: #000000;
          }
        }
        button[disabled] {
          border-color: #b9aaff;
          color: rgba(105, 85, 192, 1);
          background-color: transparent;
          background-image: none;
        }
        button.insufficientInput,
        button.invalidAddress {
          border-color: #ff578e;
          color: #ff578e;
        }
        button.grey {
          border-color: #979797;
          color: #979797;
        }
      }
    }
  }
}
