.suterProtocol {
  .balanceContainer {
    font-family: PingFangSC-Thin, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(105, 85, 192, 1);
    background-image: linear-gradient(
      to right,
      rgba(60, 37, 107, 0.5),
      rgba(60, 37, 107, 0)
    );
    border-radius: 20px;
    padding: 20px 0 20px 20px;
    // margin: 40px 150px;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 20px;

    h1,
    h2,
    p {
      color: #ffffff;
    }
    h2,
    p {
      margin-bottom: 0;
    }
    .balanceInfoContainer {
      display: flex;
      justify-content: space-between;
      .info {
        margin-left: 20px;
        .value {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    .three {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 33px;
      .unit {
        margin-left: 20px;
        position: relative;
        h1 {
          margin: 0;
        }
        .i {
          color: red;
          position: absolute;
          top: -5px;
          right: -16px;
          font-size: 18px;
        }
      }
    }
    .twoLogo {
      img.ml-1 {
        margin-left: -5px;
      }
    }
    .unit {
      p {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
