@import './variables.less';

@import './font/poppins.less';

body {
  font-family: 'Poppins-Regular';

  .mobileNavContainer {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  .ant-slider-handle {
    width: 21px !important;
    height: 21px !important;
    margin-top: -8px !important;
    background: @chainColor !important;
    border-color: @chainColor !important;
  }

  .ant-slider-rail {
    height: 5px !important;
    border-radius: 3px !important;
    background: #858688 !important;
  }

  .ant-slider-track {
    height: 5px !important;
    border-radius: 3px !important;
    background: @chainColor !important;
  }

  .ant-spin-blur::after {
    opacity: 0.1;
    border-radius: 10px;
  }

  .pool {
    .ant-spin-blur::after {
      opacity: 0.1;
      border-radius: 23px;
    }
  }

  .ant-spin-dot-item {
    background-color: #1969ff;
  }

  background: #0b000e !important;
  overflow-y: scroll;

  .ant-dropdown-menu {
    padding: 10px !important;
    background: #0b000e !important;
    border: 1px solid @chainColor !important;
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    font-family: 'Poppins-Regular';

    font-size: 14px !important;
    color: #fff !important;
    letter-spacing: 0 !important;
    line-height: 24px !important;
  }
  .ant-dropdown-menu-item > a,
  .ant-dropdown-menu-submenu-title > a,
  .ant-dropdown-menu-item-group-title {
    color: #fff !important;
  }
  .ant-dropdown-menu-item-active {
    background-color: transparent !important;
    a {
      &:hover {
        color: #1969ff !important;
      }
    }
  }

  .ant-notification-notice-message {
    color: #ffffff !important;
  }
  .anticon {
    color: #ffffff !important;
  }

  .ant-popover {
    .ant-popover-content {
      .ant-popover-inner {
        background: #4e4185;
        .ant-popover-inner-content {
          a {
            color: #1969ff;
          }
        }
      }
      .ant-popover-arrow {
        border-right-color: #4e4185;
        border-bottom-color: #4e4185;
      }
    }
  }

  .ant-notification-hook-holder,
  .ant-notification-notice {
    background: #1d1c1e !important;
    border: 2px solid #463817 !important;
    border-radius: 10px !important;
    border-radius: 10px !important;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Poppins-Regular';

    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
  }
  .ant-notification-notice.warning {
    background: #1e0f14 !important;
    border: 2px solid #ff578e !important;
  }
  .ant-notification-notice.error {
    background: #2c270f !important;
    border: 2px solid #ffd200 !important;
  }
  .ant-notification-notice.success {
    background: #113028 !important;
    border: 2px solid #39bc9a !important;
  }
}
.mobbile-MenuOutlined {
  display: none;
  .MenuOutlined {
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
    position: relative;
    top: 6px;
    font-family: 'Poppins-Regular';
  }
}

#website__entrypoint {
  height: 100%;
  .suterProtocol {
    min-height: 100%;
    .ant-layout-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .head-top {
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          display: flex;
          .left-logo {
            display: flex;
            align-items: flex-start;
            padding-top: 5px;
          }
          .menuContainer {
            margin-left: 30px;
          }
          .item-ul {
            display: flex;
            margin: 0;

            li {
              list-style: none;
              color: #fff;
              margin-right: 30px;
              cursor: pointer;
              font-size: 14px;
              font-family: 'Poppins-Regular';

              &:hover {
                color: @chainColor;
              }
              a {
                color: #fff;
                &:hover {
                  color: @chainColor;
                }
              }
            }
          }
        }
      }

      img.mobbile {
        display: none;
      }
    }
  }
}
.suterProtocol .ant-layout-header .mobble-English {
  display: none;
}

.ant-layout-header {
  background: transparent !important;
}

.ant-layout-footer {
  background: transparent !important;
  a {
    margin-right: 20px;
  }
}

.ant-layout-content {
  display: flex !important;
  flex-direction: column !important;
  background: transparent !important;
}

.suterProtocol {
  background: transparent !important;
}

.QA {
  color: #ffffff;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 82px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .left {
    background: rgba(185, 170, 255, 0.2);
    padding: 40px 30px;
    width: 330px;
    // height: 476px;
    margin-right: 90px;
    h2 {
      font-family: 'Poppins-Regular';

      font-size: 36px;
      color: @chainColor;
      letter-spacing: 0;
      list-style: height 40px;
      margin: 0;
      padding: 0;
      margin-bottom: 51px;
    }
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        font-family: 'Poppins-Regular';

        font-size: 16px;
        color: rgba(255, 255, 255, 0.75);
        letter-spacing: 0;
        line-height: 20px;
        margin-bottom: 40px;
        width: 270px;
        cursor: pointer;
        &.active {
          color: #ffffff;
        }
      }
    }
  }
  .right {
    max-width: 720px;
    padding: 50px 0;

    h3 {
      font-family: 'Poppins-Regular';

      font-size: 20px;
      color: #ffffff;
      letter-spacing: 0;
      line-height: 24px;
      margin: 0;
      padding: 0;
      margin-bottom: 38px;
    }
    i {
      display: block;
      width: 400px;
      border: 1px solid #1969ff;
      margin-bottom: 38px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 30px;
        list-style: none;
        img {
          width: 80%;
          display: block;
          margin: 10px 0;
        }
      }
    }
  }
}

.header-btn {
  display: flex;
  align-items: center;
  .launchAppBtn {
    border-color: @chainColor;
    color: @chainColor;
    background-color: #0b000e;
    &:hover {
      background-color: @chainColor !important;
    }
  }

  .top-btn {
    width: 70px;
    height: 32px;
    margin-left: 20px;
    border: 1px solid @chainColor;
    border-radius: 17.5px;
    border-radius: 17.5px;
    display: flex;
    justify-content: space-between;
    i {
      position: relative;
      top: -1px;
      display: block;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 45%;
      color: @chainColor;
      font-style: normal;
      font-size: 14px;
      cursor: pointer;

      font-family: 'Poppins-Regular';

      &.active {
        background: @chainColor;
        color: #0b000e;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mobbile-MenuOutlined {
    display: block;
  }
  #website__entrypoint .suterProtocol .ant-layout-header {
    img.mobbile {
      display: block;
    }
    img.pc {
      display: none;
    }
  }
  .suterProtocol .ant-layout-content .home .title {
    margin: 40px auto !important;
    text-align: center !important;
  }

  #website__entrypoint
    .suterProtocol
    .ant-layout-header
    .head-top
    .left
    .item-ul {
    display: none;
  }

  #website__entrypoint
    .suterProtocol
    .ant-layout-header
    .head-top
    .left
    .left-logo {
    display: flex;
    align-items: flex-start;
    padding-top: 0;
  }

  .suterProtocol .balanceContainer {
    width: 348px;
  }
  .suterProtocol .operationContainer {
    display: flex;
    justify-content: center;
    .fund,
    .transfer {
      margin-bottom: 30px;
    }
  }

  .QA {
    justify-content: center;
    .left {
      margin-right: 0;
      margin-bottom: 30px;
    }
    .right {
      width: 330px;
      i {
        width: 200px;
      }
    }
  }
}

.portal {
  .description a {
    color: #1969ff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  strong {
    font-style: oblique;
    font-family: 'Poppins-Medium';
  }
  button {
    &:hover {
      color: #0b000e !important;
      background-color: @chainColor !important;
    }
  }

  .portal-body {
    .portal-section {
      margin: 100px auto 0;
      width: 1140px;
      display: flex;
      .flex-item {
        flex: 1;
        .launchAppBtn {
          border-color: @chainColor;
          color: @chainColor;
          background-color: #0b000e;
          &:hover {
            background-color: @chainColor !important;
          }
        }
      }
      &:nth-of-type(1) {
        margin-top: 60px;
        .slogan {
          font-family: 'Poppins-Medium';

          font-size: 48px;
          color: @chainColor;
          letter-spacing: 0;
        }
        .description {
          margin-top: 8px;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.75);
          letter-spacing: 0;
          padding-right: 70px;
          font-weight: lighter;
          font-family: 'Poppins-Regular';
        }
        button {
          margin-top: 36px;
          border-color: @chainColor;
          background-color: #0b000e;
          height: 36px;
          padding: 0 24px;
          font-size: 14px;
          color: @chainColor;
          letter-spacing: 0;
          text-transform: nonr;
          font-family: 'Poppins-Regular';
        }
        img {
          width: 100%;
          margin-top: 30px;
        }
      }
      &:nth-of-type(2) {
        flex-direction: column;
        .section-title {
          font-weight: lighter;
          font-size: 30px;
          color: #1969ff;
          letter-spacing: 0;
          margin-bottom: 100px;
          width: 100%;
          font-family: 'Poppins-Regular';
        }
        .flex-item-wrapper {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .flex-item {
            width: 260px;
            flex: initial;
          }
          .image-wrapper {
            height: 150px;
            position: relative;
            align-items: flex-end;
            flex-direction: column;

            .text {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 20px;
              color: #1969ff;
              letter-spacing: 0;
              font-family: 'Poppins-Regular';
            }

            img {
              position: absolute;
              left: 65px;
              bottom: 0;
            }
          }
          .description {
            margin-top: 24px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.77);
            letter-spacing: 0;
            font-weight: lighter;
            font-family: 'Poppins-Regular';
          }
        }
      }
      &:nth-of-type(3) {
        .section-title {
          font-weight: lighter;
          font-size: 30px;
          color: #1969ff;
          letter-spacing: 0;
          margin-bottom: 100px;
          width: 100%;
          font-family: 'Poppins-Regular';
        }
      }
      &:nth-of-type(4) {
        margin-top: 60px;
        .slogan {
          font-weight: lighter;
          font-size: 30px;
          color: #1969ff;
          letter-spacing: 0;
          margin-bottom: 56px;
          padding-right: 140px;
          font-family: 'Poppins-Regular';

          a {
            color: inherit;
          }
        }
        .description {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.77);
          letter-spacing: 0;
          font-weight: lighter;
          font-family: 'Poppins-Regular';
        }
        img {
          width: 424px;
          margin-top: 30px;
        }
        .flex-item:nth-of-type(2) {
          padding-left: 30px;
          margin-top: 48px;
        }
        .cutline {
          height: 20px;
        }
      }
      &:nth-of-type(5) {
        margin-bottom: 214px;
        .flex-item {
          .card-item {
            background: #1d1c1e;
            border: 1px solid #282828;
            border-radius: 20px;
            width: 260px;
            height: 180px;
            padding: 44px 20px 25px;
            .amount {
              font-size: 30px;
              color: #1969ff;
              letter-spacing: 0;
              line-height: 41px;
              margin-bottom: 20px;
              font-family: 'Poppins-Regular';
            }
            .title {
              font-size: 24px;
              color: #ffffff;
              letter-spacing: 0;
              line-height: 33px;
              font-family: 'Poppins-Regular';
            }
            .subtitle {
              font-size: 14px;
              line-height: 19px;
              color: rgba(255, 255, 255, 0.5);
              letter-spacing: 0;
              font-family: 'Poppins-Regular';
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .portal {
    .portal-body {
      width: 100%;
      padding: 0 24px;
      .portal-section {
        width: 100%;
        flex-direction: column;
        position: relative;
        &:nth-of-type(1) {
          .flex-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            &:nth-of-type(1) {
              margin-top: calc((100vw - 48px) * 301 / 570 + 20px);
            }
            &:nth-of-type(2) {
              position: absolute;
              width: 100%;
              img {
                margin-top: 0;
              }
            }
          }
          .slogan {
            font-size: 30px;
            color: #1969ff;
            letter-spacing: 0;
            text-align: center;
            font-family: 'Poppins-Regular';
          }
          .description {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.75);
            letter-spacing: 0;
            text-align: center;
            padding: 0;
            font-family: 'Poppins-Regular';
          }
          button {
            margin-top: 20px;
          }
        }
        &:nth-of-type(2) {
          padding: 0 36px;
          margin-top: 53px;
          .section-title {
            margin-bottom: 50px;
            font-size: 22px;
            color: #1969ff;
            letter-spacing: 0;
            text-align: center;
            white-space: nowrap;
            font-family: 'Poppins-Regular';
          }
          .flex-item-wrapper {
            flex-direction: column;
            .flex-item {
              margin-bottom: 40px;
              padding: 0 6px;
              width: 100%;
              .image-wrapper {
                height: 140px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img {
                  top: initial;
                  left: initial;
                  position: relative;
                }
              }
            }
          }
        }
        &:nth-of-type(3) {
          padding: 0 36px;
          margin-top: 53px;
          .section-title {
            margin-bottom: 50px;
            font-size: 22px;
            color: #1969ff;
            letter-spacing: 0;
            text-align: center;
            white-space: nowrap;
            font-family: 'Poppins-Regular';
          }
        }
        &:nth-of-type(4) {
          margin-top: 64px;
          .slogan {
            font-size: 24px;
            color: #1969ff;
            letter-spacing: 0;
            text-align: center;
            text-align: center;
            position: absolute;
            top: 0;
            text-align: center;
            width: 100%;
            padding-right: 0;
            font-family: 'Poppins-Regular';
          }
          img {
            width: 100%;
          }
          .description {
            margin-top: 20px;
            padding: 0 36px;
          }
          .flex-item:nth-of-type(1) {
            padding: 0 36px;
            margin-top: 60px;
          }
          .flex-item:nth-of-type(2) {
            padding-left: 0;
            margin-top: 0;
          }
        }
        &:nth-of-type(5) {
          margin-top: 78px;
          margin-bottom: 30px;
          padding: 0 32px;
          .flex-item {
            margin-bottom: 20px;
            .card-item {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
